[submodule "nushell/scripts"]
	path = nushell/scripts
	url = https://github.com/nushell/nu_scripts.git
[submodule "keyboards/zmk-config"]
	path = keyboards/zmk-config
	url = https://github.com/PapyKahan/zmk-config.git
